.channel {
  height: 30px;
  padding-left: 15px;
  padding-top: 3px;
}

.channel:hover {
  cursor: pointer;
  background-color: #3c4146;
  color: white;
  border-radius: 5px;
}

.td-wide {
  width: 100%;
}

.remove-link {
  font-size: 11px;
  color: red;
  cursor: pointer;
}

.remove-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
